<div class="inner">
	<%= render 'shared/error_messages_services' %>

	<div class="input">
		<%= f.label :title, raw("<div class='req'>&#10039;</div>Заголовок окна"), class: "required" %>
		<%= f.text_field :title, class: "w title" %>
	</div>

	<% if  @service.parent_id != 0 or @service.id.nil? %>
		<div class="input" style="width: 30%;">
			<%= label_tag(:parent_id, "Родительский раздел") %>
			<%= f.select :parent_id, @parents.order(:position).map{ |service| [service.header, service.id] }.insert(0,0), class: "w" %>
		</div>
	<% end %>

	<div class="input">
		<%= f.label :url, raw("<div class='req'>&#10039;</div>Путь") %>
		<div style="position: relative;">
			<%= f.text_field :url, class: "w" %>
		</div>
	</div>
	<div class="input">
		<%= f.label :header, raw("<div class='req'>&#10039;</div>Заголовок страницы") %>
		<%= f.text_field :header, class: "w" %>
	</div>

	<div class="input">
		<%= f.label :body, raw("<div class='req'>&#10039;</div>Подробное описание") %>
		<%= f.text_area :body, class: "w" %>
	</div>
	<div class="input">
		<%= f.label :position, "Позиция" %>
		<%= f.text_field :position, class: "w" %>
	</div>

	<div class="input">
		<%= f.label :image, "Добавить изображение" %>
		<%= f.file_field :image, class: "w" %>
		<%= f.hidden_field :image_cache %>
	</div>
	<%= image_tag(@service.image.thumb.url) if @service.image? %>

	<div class="input">
		<%= label_tag(:services_is_published, "Публиковать", class: "checkbox") %>
		<%= f.check_box(:is_published) %>
	</div>

	<div id="actions" class="submit">
		<%= f.submit "Сохранить" %>
	</div>
</div>
