<% provide(:title, 'Контакты') %>
<h1 class="line">Контакты</h1>
<div style="width:960px; height:390px;">
	<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=IOvgb0hZC6LaCCsL6FD9Ib_jVSOagWM-&width=960&height=390"></script>
</div>
<div class="main-news-content clearfix">
	<div class="main-news-info-block">
		<div class="contacts-block">
			<h2>Контакты</h2><br />
			<p class="contacts-text">
				Адрес: 141661, Московская область, Клинский район, пос. Покровка, ул. Замятинская, д. 44<br /><br />

				График работы: Ежедневно с 9:00 до 20:00<br /><br />

				Тел.: 8 916 963-97-06<br />
				Тел.: 8 917 520-63-71<br /><br />

				Почта: antipovstroy@gmail.com<br /><br />
			</p>
		</div>
		<div class="contacts-block-line" id="contacts">
			<h1>Напишите нам</h1>
			<% flash.each do |key, value| %>
			    <div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>
			<%= form_tag(sendmail_path) do %>
				<%= text_field_tag 'fio', nil, class: 'callback', placeholder: 'ФИО' %>
				<%= email_field_tag 'email', nil, class: 'callback', placeholder: 'Email' %>
				<%= text_field_tag 'phone', nil, class: 'callback', placeholder: 'Контактный номер телефона' %>
				<%= text_area_tag 'body', nil, class: 'callback-large', rows: 4, placeholder: 'Сообщение...' %>
				<div class="btn-large">
					<%= submit_tag "Отправить сообщение" %>
				</div>
	       <% end %>
		</div>
	</div>
</div>
<div class="margin"></div>