<% provide(:title, raw('Интернет-магазин строительных услуг и комплектующих «Секреты стройки» - качественные и недорогие строительные услуги и комлектующие. Оптом и в розницу.')) %>
<div class="main-services clearfix">
	<h1 class="line">
		<%= link_to "Услуги", services_path %>
	</h1>
	<% @services.each do |service| %>							
		<div class="main-service">
			<%= link_to image_tag(service.image.general_thumb.url), service if service.image? %>
			<div class="main-more-info">
				<ul>
					<% @childrens = Services.where(parent_id: service.id).order(:position) %>
					<% @childrens.each do |children| %>
						<li><%= link_to children.header, children %></li>
					<% end %>
				</ul>
			</div>
			<h2 class="addpadding"><%= service.header %></h2>
		</div>
	<% end %>
</div>

<div class="main-news clearfix">
	<h2 class="line">
		<%= link_to "Новости", news_path %>
	</h2>
	<div class="main-news-content clearfix">
		<%= link_to image_tag("open.png", width: 290, height:290), news_path, class: "float" %>	
		<div class="main-info-block">
			<h3 class="main-info-header">
				<%= link_to "Мы открылись!", news_path %>
			</h3>
			<div class="main-info-date">
				05.07.2015
			</div>
			<p>
				<b>Дорогие друзья!</b><br />
				Команда ИП Антипов В.Н. рада сообщить Вам об открытии сайта «Секреты стройки»!<br />
				Сайт пока находится на этапе наполнения, но в самое ближайшее время мы постараемся разместить на нем всю информацию о предоставляемых нами услугах и всегда поддерживать их в актуальном состоянии! <br />
				Если Вы не нашли интересующей Вас информации просто позвоните по телефону <b>8 916 963-97-06</b> или воспользуйтесь <b><%= link_to "формой", contacts_path(@contacts, :anchor => "contacts") %></b> обратной связи!
			</p>
			<div class="main-info-more">
				<%= link_to "Подробнее", news_path %>
			</div>
		</div>
	</div>
</div>

<div class="main-about clearfix">
	<h2 class="line"><%= link_to "О компании", about_path %></h2>
	<%= link_to image_tag("about_company.png", alt: "О компании", width: 290, height:290), about_path, class: "float" %>

	<div class="main-info-block">
		<h3 class="main-info-header"><%= link_to "О компании", about_path %></h3>
		<p class="float">
			<b>«Секреты стройки»</b> - сайт, учрежденный ИП Антипов В.Н.<br />
			Наша компания  предоставляет широкий спектр строительных услуг, комплектующих и материалов!<br />
			К Вашим услугам – всё необходимое для строительства, ремонта и сада!<br />
			ИП Антипов В.Н. на рынке торговли строительными материалами уже <b>10 лет!</b><br />
			Предоставление услуг нашей компании <b>не ограничивается</b> Москвой и Московской областью!<br />
			Мы гарантируем высокое качество и профессионализм во всем!
		</p>
		<div class="main-info-more">
			<%= link_to "Подробнее", about_path %>
		</div>
	</div>
</div>