<% provide(:title, 'Создание нового пользователя') %>
<h1>Регистрация</h1>
<div class="center header">
	<div class="contacts-block-line">
		<%= form_for :user, :url => { :action => :create } do |f| %>
			<%= render 'shared/error_messages' %>
      		<%= f.hidden_field :save, value: 1 %>
   			<%= f.label :login %>
			<%= f.text_field :login, class: "callback" %>

			<%= f.label :email %>
			<%= f.email_field :email, class: "callback" %>

			<%= f.label :password %>
			<%= f.password_field :password, class: "callback" %>

			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation, class: "callback" %>

			<div class="btn-large">
				<%= f.submit "Create my account" %>
			</div>
		<% end %>
	</div>
</div>
