<head>
	<title><%= full_title(yield(:title)) %></title>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300italic,300,400italic,700,700italic&subset=latin,cyrillic-ext,cyrillic,latin-ext,greek-ext,greek,vietnamese' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,500,500italic,700,700italic,900&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0">
	<%= favicon_link_tag '/favicon.ico' %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" %>
	<%= stylesheet_link_tag    'reset', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag "application"%>
	<%= csrf_meta_tags %>
	<%= render 'layouts/yandex_counter' %>
	<%= render 'layouts/google_counter' %>
</head>
