<ul>
	<li><%= nav_link "Услуги", services_path %></li>
	<li><%= nav_link "Контакты",   contacts_path %></li>
	<li><%= nav_link "О компании", about_path %></li>
	<li><%= nav_link "Новости", news_path %></li>
	<li><%= nav_link "Портфолио", portfolio_path %></li>
</ul>
		